.header {
    padding: 1.5rem 0 2rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    @media all and (max-width: 960px) {
        padding: 1rem 0 1.5rem;
    }
    .inner {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .left {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 700px;
        justify-content: space-between;
    }

    .logo {
        img {
            max-height: 50px;
            @media all and (max-width: 960px) {
                max-width: 115px;
            }
            @media all and (max-width: 480px) {
                max-width: 90px;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 5rem;
        @media all and (max-width: 1024px) {
            gap: 2rem;
        }
    }

    .language {
        --translate: -10px;
        --opacity: 0;
        --pointer-events: none;

        position: relative;
        font: var(--font-s-b);
        color: var(--black);

        .lang-title {
            text-transform: uppercase;
            text-align: left;
            min-width: 6rem;
            padding: 0.5rem 2.5rem 0.5rem 0;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 14px;
                background-image: url('../img/icons/arow.svg');
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .lang-item {
            display: block;
            text-align: left;
            padding: .6rem;
            width: 100%;
        }

        .dropdown {
            position: absolute;
            top: 110%;
            left: 0;
            right: 0;
            border-radius: var(--radius-small);
            background: var(--white);
            transform: translateY(var(--translate));
            opacity: var(--opacity);
            transition: var(--transition-fast);
            pointer-events: var(--pointer-events);
            z-index: 10;
        }
        &.opened {
            --translate: 0;
            --opacity: 1;
            --pointer-events: all;
        }
    }

    .callback-button {
        min-width: 25rem;
        @media all and (max-width: 1024px) {
            font-size: 0;
            min-width: 0;
            width: 50px;
            height: 50px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEyLjg0MyAxOC4xNTdjMS43MTMuODYyIDMuNzMgMS40ODMgNi4wOTUgMS43NS41NzQuMDY0IDEuMDYyLS4zOTYgMS4wNjItLjk3NHYtMi4xNTJhMSAxIDAgMCAwLS43NTgtLjk3bC0yLjY5My0uNjc0YTEgMSAwIDAgMC0uOTUuMjYzbC0yLjc1NiAyLjc1N1ptMCAwYy0zLjExNi0xLjU2OC01LjIyNi0zLjkzMi02LjYwMi02LjM5OG0wIDBjLTEuMzEtMi4zNS0xLjk1NS00Ljc5Mi0yLjE2Ni02LjcyOEM0LjAxMyA0LjQ2OSA0LjQ2OSA0IDUuMDM0IDRINy4xOGExIDEgMCAwIDEgLjk4LjgwNGwuNzM1IDMuNjcxYTEgMSAwIDAgMS0uMjczLjkwM2wtMi4zOCAyLjM4WiIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48cGF0aCBkPSJNMTIuOTU0IDcuMDkyYTUgNSAwIDAgMSAzLjk2IDMuOTg4bS0zLjgxNy04LjAxM2E5IDkgMCAwIDEgNy44MjggNy43NzQiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=');
            background-position: 48% 55%;
            background-repeat: no-repeat;
            padding: 0;
        }
        @media all and (max-width: 960px) {
            width: 40px;
            height: 40px;
            background-size: auto 20px;
            background-position: 45% 53%;
        }
    }

    .menu {
        @media all and (max-width: 1024px) {
            display: none;
        }
        ul {
            list-style: none;
            display: flex;
            gap: .8rem;
            a {
                display: inline-block;
                padding: 1.2rem 2rem 1.2rem;
                font: var(--font-s-b);
                color: var(--black);
            }
        }
    }
}