@import url('./variables.css');
@import url("./global.css");

@import url('./header.css');
@import url('./burger.css');
@import url('./popup.css');

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.integrations-wrapper {
  padding: 10rem 0 15rem;
  background: var(--top-background);
  position: relative;
  &:before, &:after {
    content: '';
    height: 20rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  &:after {
    background: var(--top-background);
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
  }
  &:before {
    background: var(--white);
  }
}

.integration {
  --details-order: 1;
  --image-order: 2;

  &.reverse {
    --details-order: 2;
    --image-order: 1;
  }

  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  @media all and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }

  @media all and (max-width: 960px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h2 { margin: 0}

  .details {
    order: var(--details-order);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 10;
    @media all and (max-width: 960px) {
      gap: 1.5rem;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(var(--count), 1fr);
    gap: 2rem;
    @media all and (max-width: 480px) {
      grid-template-columns: 1fr 1fr;
    }
    .list-item {
      font: var(--font-es-n);
      .title {
        font: var(--font-sl);
        color: var(--primary);
      }
    }

    &.square {
      --bg: var(--white);
      @media all and (min-width: 1025px) {
        max-width: calc(27% * var(--count));
      }
      .list-item {
        position: relative;
        background: var(--bg);
        aspect-ratio : 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        border-radius: var(--radius-large);
        box-shadow: 0px 0px 10px 0px #0000001A;
      }
    }
  }

  .image {
    order: var(--image-order);
    position: relative;
    display: flex;
    justify-content: center;
    @media all and (max-width: 1024px) {
      position: absolute;
      inset: 0;
      opacity: .1;
    }
    img {
      position: relative;
      z-index: 2;
    }
    .circle-lined {
      top: 50%;
      right: 30%;
    }
  }
}


.about {
  font: var(--font-s-n);
  display: flex;
  flex-direction: column;
  color: var(--black);
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media all and (max-width: 960px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}


.partners {
  margin-bottom: 14rem;
  @media all and (max-width: 768px) {
    margin-bottom: 6rem;
  }


  .partners-list {
    display: flex;
    width: 1420px;
    flex-shrink: 0;
    @media all and (max-width: 768px) {
      width: 1024px;
    }
    .partner-item {
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      padding: 1rem;
      transition: var(--transition-fast);
      cursor: pointer;
      @media all and (min-width: 1025px) {
        filter: grayscale(1);
        &:hover {
          filter: grayscale(0);
        }
      }
      img {
        width: 17rem;
        max-width: 100%;
      }
    }
  }

  
  .partner-items-wrap {
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 2rem;

    &.marquee {
      &:hover {
        .partners-list {
          animation-play-state: paused;
        }  
      }
      .partners-list {
        animation: scroll 15s linear infinite;
        &.reverse {
          animation-direction: reverse;
        }
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10%;
      background: linear-gradient(90deg, var(--white) 0%, transparent 100%);
      z-index: 10;
    }

    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      transform: rotateY(180deg);
    }

  }
}

.accordion {
  margin-bottom: 18rem;
  @media all and (max-width: 768px) {
    margin-bottom: 6rem;
  }
}

.footer-form {
  h2 {
    margin: 0;
    max-width: 40rem;
  }
  
  .form-wrapper {
    padding: 7.5rem 10rem;
    background: var(--black);
    color: var(--white);
    border-radius: var(--radius-xl);
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    @media all and (max-width: 1240px) {
      padding: 5rem 3rem;
    }
  }
  @media all and (max-width: 1024px) {
    padding: 0;
    .form-wrapper {
      grid-template-columns: 1fr;
      border-radius: 0;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
    .details-item {
      font: var(--font-es-b);
    }
    .details-item-title {
      font-weight: 400;
      margin-bottom: .5rem;
    }

    @media all and (max-width: 1024px) {
      gap: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      h2 {
        width: 100%;
        max-width: 100%;
      }

      .details-item {
        flex-grow: 1;
      }
    }
  }
}

.footer-form,
.popup-modal {
  .form-fields {
    .fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      @media all and (max-width: 640px) {
        grid-template-columns: 1fr;
        gap: 1.5rem;
      }
    }

    .note {
      font: var(--font-es-n);
      color: var(--grey);
      font-size: 1.4rem;
    }
  }
}


.footer {
  padding-top: 5rem; 
  padding-bottom: 5rem;
  text-align: center;
  .copyright {
    font: var(--font-es-b);
    margin-bottom: 2rem;
  }
  .adress {
    font: var(--font-es-n);
    color: var(--grey);
  }
}