@import url('./variables.css');
@import url("./global.css");

@import url('./header.css');

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section h2 {
  font: var(--font-l);
}

.top-group {
  background: url('../img/hero-bg.jpg ') 50% / auto no-repeat fixed;
  padding-bottom: 10rem;
  border-radius: 0 0 10rem 10rem;
  box-shadow: 0px 0px 20px 0px #00000099;
  margin-bottom: 12rem;
}

.banner {
  position: relative;
  padding: 24rem 0 23rem;
  color: var(--white);

  h1 {
    font: var(--font-xxl);
    margin-bottom: 1.8rem;
  }

  h2 {
    font: var(--font-s-n);
  }

  .banner__body {
    max-width: 75rem;
  }
}

.about {
  font: var(--font-s-n);
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
  color: var(--white);
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    .column {
      max-width: 600px;
    }

    .column-title {
      font: var(--font-m-b);
      margin-bottom: 4rem;
    }
  }
}

.decisions {
  margin-bottom: 8rem;

  h2 {
    max-width: 750px;
  }

  .decisions-inner {
    font: var(--font-es-n);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 2rem;
    padding-top: 6rem;
  }

  .decisions-item-title {
    font: var(--font-m-b);
    margin-bottom: 2.5rem;
  }
}

.integrations {
  margin-bottom: 20rem;

  h2 {
    margin-bottom: 6rem;
  }

  .integration-title {
    font: var(--font-m-b);
    margin-bottom: 4rem;
  }

  .integrations-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
  }

  .integration-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;

    a {
      min-height: 15rem;
      border-radius: var(--radius-large);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition-fast);
      box-shadow: 0px 0px 10px 0px #0000001A;

      &:hover {
        box-shadow: 0px 0px 10px 0px var(--primary);
      }
    }
  }
}

.actual-cases {
  margin-bottom: 12rem;
  h2 {
    margin-bottom: 7rem;
  }

  .cases-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem 2rem;
  }

  .case-item {
    font: var(--font-es-n);
    color: var(--grey);

    .top {
      min-height: 35.5rem;
      border-radius: var(--radius-xl);
      background: linear-gradient(245.45deg, #19B7A7 2.46%, #31CB97 98.8%);
      margin-bottom: 2.5rem;
    }

    .title {
      padding: .5rem 0 2rem;
      font: var(--font-sl);
      color: var(--black);
    }
  }
}

.partners {
  margin-bottom: 14rem;
  h2 {
    margin-bottom: 8rem;
  }

  .partners-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
    .partner-item {
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.footer-form {
  h2 {
    max-width: 40rem;
  }
  
  .form-wrapper {
    padding: 13rem 8rem 11rem;
    background: var(--black);
    color: var(--white);
    border-radius: var(--radius-xl);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  
  .form-fields {
    .fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem; 
    }

    .note {
      padding-top: 4rem;
      text-align: right;
      font: var(--font-es-n);
      color: var(--grey);
    }
  }
}


.footer {
  padding-top: 5rem; 
  padding-bottom: 5rem;
  text-align: center;
  .copyright {
    font: var(--font-es-b);
    margin-bottom: 2rem;
  }
  .adress {
    font: var(--font-es-n);
    color: var(--grey);
  }
}